<?xml version="1.0" encoding="UTF-8"?>
<plugin title='Sample plugin xml for lucidDB'>
  <lifecycle-listener class="org.dynamobi.luciddb.LifeCycleListener" />

  <overlays>
    <overlay id="startup.lucidToolbarButton" resourcebundle="../content/lucid-res/luciddb.properties">
      <overlay id="startup.lucidToolbarButton">
        <toolbar id="mainToolbar">
          <toolbarbutton id="lucidButton"
            image="../content/lucid-res/lucid_db_logo_PMS_2010-32.png"
            onclick="mainToolbarHandler.openUrl('luciddb', 'LucidDB Admin UI', 'content/dynamoadminui')"
            tooltiptext="Launch LucidDB Admin"
            insertafter="showBrowserButton" />
        </toolbar>
      </overlay>
    </overlay>
  </overlays>

  <webservice id="LauncherService" type="xml"
    class="org.dynamobi.luciddb.LauncherService" />
  <content-generator id="dynamoadminui" type="dynamoadminui" title="Admin UI"
    class="org.dynamobi.luciddb.LauncherPage" />

  <menu-items>
    <menu-item id="dynamoluciddb" anchor="tools-submenu"
      label="LucidDB Admin UI"
      command="content/dynamoadminui"
      type="MENU_ITEM" how="LAST_CHILD" />
    <menu-item id="dynamoluciddbstart" anchor="tools-submenu"
      label="Start LucidDB"
      command="content/ws-run/LauncherService/start" type="MENU_ITEM"
      how="LAST_CHILD" />
    <menu-item id="dynamoluciddbstop" anchor="tools-submenu"
      label="Stop LucidDB"
      command="content/ws-run/LauncherService/stop" type="MENU_ITEM"
      how="LAST_CHILD" />
  </menu-items>

  <static-paths>
    <static-path url="/lucid-res" localFolder="resources"/>
  </static-paths>  

</plugin>
